@import './highlightjs.css';
@import './tailwind.css';
@import './base.css';


:root {
	--anchor-color: #daf245;
}

.p-treenode-content {
	position: relative;
	display: flex;
}

.p-treenode-children {
	padding-left: 1.5rem;
}

#page-body a {
	font-weight: bold !important;
}

/* Article Headers */
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
	scroll-margin-top: 4.2rem;

}

#page-body h1 {
	font-size: 2.2rem;
}

#page-body h2 {
	font-size: 1.65rem;
	padding-bottom: 0.3rem;
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

#page-body h1,
#page-body h2,
#page-body h3,
#page-body h4,
#page-body h5,
#page-body h6 {
	font-weight: 600;
	line-height: 1.25;
}

#page-body h1:focus .header-anchor,
#page-body h2:focus .header-anchor,
#page-body h3:focus .header-anchor,
#page-body h4:focus .header-anchor,
#page-body h5:focus .header-anchor,
#page-body h6:focus .header-anchor,
#page-body h1:hover .header-anchor,
#page-body h2:hover .header-anchor,
#page-body h3:hover .header-anchor,
#page-body h4:hover .header-anchor,
#page-body h5:hover .header-anchor,
#page-body h6:hover .header-anchor {
	opacity: 1;
}

#page-body h3 {
	font-size: 1.35rem;
}

/* Article Text */
#page-body p,
#page-body ul,
#page-body ol {
	line-height: 1.7;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

#page-body ul {
	list-style-type: disc
}

#page-body ul li::marker {
	color: var(--color-accent);
}

#page-body ol {
	list-style-type: upper-roman;
}

#page-body ol li::marker {
	color: var(--color-accent);
}


#page-body p.image-caption {
	margin-top: -3em;
	line-height: 1.5em;
	font-size: 13px;
}

#page-body hr {
	border: 0;
}

#page-body ul,
#page-body ol {
	padding-left: 1.2em;
}


/* Article Features */
#page-body kbd,
#page-body .line-number {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#page-body blockquote>p {
	margin: 0;
}

#page-body table {
	border-collapse: collapse;
	margin: 1rem 0;
	display: block;
	overflow-x: auto;
}

#page-body tr {
	border-top: 1px solid #dfe2e5;
}

#page-body tr:nth-child(2n) {
	background-color: #f6f8fa;
}

#page-body th,
#page-body td {
	border: 1px solid #dfe2e5;
	padding: 0.6em 1em;
}

#page-body kbd {
	background: #eee;
	border: solid 0.15rem #ddd;
	border-bottom: solid 0.25rem #ddd;
	border-radius: 0.15rem;
	padding: 0 0.15em;
}

#page-body blockquote {
	font-size: 1rem;
	color: #999;
	border-left: 0.2rem solid #F2D024;
	margin: 1rem 0;
	padding: 0.25rem 0 0.25rem 1rem;
}

/* Article Links */
#page-body a {
	font-weight: 600;
}

#page-body a[href^="http"]::after,
#page-body a[href^="https://"]::after {
	content: "";
	width: 15px;
	height: 15px;
	margin-left: 3px;
	background: no-repeat var(--icon-external-link);
	background-position: bottom;
	background-size: contain;
	display: inline-flex;
}


#page-body a.header-anchor {
	font-size: 0.85em;
	float: left;
	margin-left: -0.87em;
	padding-right: 0.23em;
	margin-top: 0.125em;
	user-select: none;
	opacity: 0;
}

#page-body a.header-anchor:focus,
#page-body a.header-anchor:hover {
	text-decoration: none;
}

/* Images */
#page-body img {
	max-width: 100%;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s ease-in-out;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 2rem 0;
}

.subh {
    margin-top: -3px;
}

/* li:not(.active-anchor) > .subh{
    color: var(--color-subtext);
} */

.active-anchor {
	color: var(--anchor-color) !important;
}

@layer base {
	#page-body code {
		color: #abb2bf !important;
	}
}

#page-body code,
#page-body pre {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 3px;
	background-color: #282c34 !important;
}
#page-body pre {
	padding: 0.7rem;
}