<ul id="table-body" role="list" class="divide-y divide-gray-100">
    <li id="table-group" class="hidden bg-gray-200 text-gray-800 p-1 italic">
        Table Group
    </li>
    <li id="table-row" class="hidden relative flex justify-between py-5">
        <div class="flex gap-x-4 pr-6 sm:w-1/2 sm:flex-none">
            <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-white">
                    <a class="page text-indigo-500" href="#">
                        <span class="absolute inset-x-0 -top-px bottom-0"></span>
                        Page Name
                    </a>
                </p>
                <p class="mt-1 flex text-xs leading-5 text-gray-200">
                    <a class="course relative truncate hover:underline">Course</a>
                </p>
            </div>
        </div>
        <div class="flex items-center justify-between gap-x-4 sm:w-1/2 sm:flex-none">
            <div class="hidden sm:block">
                <p class="chapter text-sm leading-6 text-white">Chapter</p>
                <div class="mt-1 flex items-center gap-x-1.5">
                    <div class="exists-icon flex-none rounded-full p-1">
                        <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                    </div>
                    <p class="exists-label text-xs leading-5 text-gray-200">Created</p>
                </div>
            </div>
            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
        </div>
    </li>
</ul>