<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Creator</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://mbraak.github.io/jqTree/tree.jquery.js"></script>
    <link rel="stylesheet" href="https://mbraak.github.io/jqTree/jqtree.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body class="bg-gray-800">
    <div>

        {% include 'partials/sidebar.html' %}

        <div class="xl:pl-72">
            <main class="lg:pr-96">
                <div class="px-4 sm:px-6 lg:px-8">
                    <div class="sm:flex sm:items-center">
                        <div class="sm:flex-auto">
                            <h1 class="text-3xl font-semibold leading-6 text-white">Course Material</h1>
                            <p class="mt-2 text-sm text-gray-400">A list of all pages grouped by topic and course</p>
                        </div>
                    </div>
                    <div class="mt-8 flow-root">
                        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <!-- Content -->
                            <div id="content" class="text-white inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                                <div id="tree"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            {% include 'partials/feed.html' %}
        </div>
    </div>

</body>

<script src="{{ url_for('static', filename='custom.js') }}"></script>

<script>
    function courseCreatorStarted(data) {
        alert("Course Creator started!")
    }

    function fetchContent() {
        return ajaxFetch('/ajax-fetch-course-material', displayData)
    }

    function fetchActivity() {
        return ajaxFetch('/ajax-fetch-activity', displayActivity)
    }

    function beginCourseGenerator() {
        return ajaxFetch('/ajax-begin-course-generator', courseCreatorStarted)
    }

    function startPolling() {
        setInterval(fetchContent, 5000);
        setInterval(fetchActivity, 5000);
    }

    $(document).ready(function () {
        fetchContent()
        fetchActivity()

        $("#course-generator").click(function () {
            beginCourseGenerator()
            startPolling()
        });
    })

</script>

</html>