<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Creator</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body class="bg-gray-800">
    <div>

        {% include 'partials/sidebar.html' %}

        <div class="xl:pl-72">
            <main class="lg:pr-96">
                <!-- Course Creator list -->
                <div class="px-4 sm:px-6 lg:px-8">
                    <div class="sm:flex sm:items-center">
                        <div class="sm:flex-auto">
                            <h1 class="text-base font-semibold leading-6 text-white">Course Material</h1>
                            <p class="mt-2 text-sm text-gray-400">A list of all pages grouped by topic and course</p>
                        </div>
                    </div>
                    <div class="mt-8 flow-root">
                        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                                <table id="table-data" class="min-w-full">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-100 sm:pl-3">Topic</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-100">Course</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-100">Chapter</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-100">Page</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">
                                        <tr id="initial-table-group" class="hidden border-t border-gray-200">
                                            <th colspan="5" scope="colgroup" class="bg-gray-300 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Topic Name</th>
                                        </tr>
                                        <tr id="initial-table-row" class="hidden border-t border-gray-300">
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-100 sm:pl-3">Topic</td>
                                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-100">Course</td>
                                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-100">Chapter</td>
                                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-100">Page</td>
                                            <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                                <a href="#" class="text-indigo-500 hover:text-indigo-700">View</a>
                                            </td>
                                        </tr>

                                        <!-- Javascript will load more here... -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            {% include 'partials/feed.html' %}
        </div>
    </div>

</body>

<script>
    // jQuery, what a blast from the past...
    const rowIds = []
    const logIds = []

    function displayTableData(data) {
        const rows = translateToTableRows(data)


        const tableBody = $('#table-body')
        const tableGroup = $('#initial-table-group')
        const tableRow = $('#initial-table-row')

        let currentGroup = null
        for (const row of rows) {
            if (rowIds.includes(row.id)) continue

            if (row.group !== currentGroup) {
                const newGroup = tableGroup.clone()
                newGroup.removeClass('hidden')
                newGroup.find('th').text(row.group)
                tableBody.append(newGroup)

                currentGroup = row.group
            }

            const newRow = tableRow.clone()
            newRow.removeClass('hidden')
            newRow.find('td').eq(0).text(row.topic)
            newRow.find('td').eq(1).text(row.course)
            newRow.find('td').eq(2).text(row.chapter)
            newRow.find('td').eq(3).text(row.page)
            newRow.find('td').eq(4).find('a').attr('href', row.link)
            tableBody.append(newRow)

            rowIds.push(row.id)
        }
    }

    function displayActivity(data) {
        const logList = $('#log-list')
        const logLine = $('#initial-log-line')

        for (line of data) {
            const logId = line.substring(0, 23) // date timestamp
            if (logIds.includes(logId)) continue

            const lineColor = logColor(line)
            const displayText = displayLogText(line)
            const newLine = logLine.clone()

            newLine.removeClass('hidden')
            newLine.addClass(lineColor)
            newLine.text(displayText)
            logList.append(newLine)

            logIds.push(logId)
        }
    }

    function ajaxFetch(url, callback) {
        try {
            $.ajax({
                url: url,  // the endpoint on your Flask app
                type: 'POST',  // http method
                contentType: 'application/json',  // type of data being sent
                success: function (response) {  // A function to be called if the request succeeds
                    console.log("Success: ", url);
                    callback(response)
                },
                error: function (xhr) {
                    // Handle error
                    console.error("Error occurred: ", xhr);
                }
            });
        } catch (error) {
            console.error("Error occurred: ", xhr);
            alert("Error occurred: " + error);
        }
    }

    function fetchContent() {
        return ajaxFetch('/ajax-fetch-course-material', displayTableData)
    }

    function fetchActivity() {
        return ajaxFetch('/ajax-fetch-activity', displayActivity)
    }

    $(document).ready(function () {
        setInterval(fetchContent, 1000);
        setInterval(fetchActivity, 1000);
    });
</script>

</html>